.square-container {
  display: flex;
  margin-top: 50px;
  margin-left: 25px;

  height: 600px;
}
.validate-btn {
  margin-top: 400px;
  margin-left: -380px;
  width: 380px;
  height: 45px;
  background-color: rgba(177, 42, 42, 0.918);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(177, 42, 42, 0.918);
  font-family: "Bahnschrift SemiBold";

}
