.square5 {
    width:  380px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Bahnschrift";
    margin-left: -380px;
    margin-top: 280px;
    border: 1px solid black;
  }