body {
  margin: 0;
  background-color: #e5e3e3;
}
.Group {
  margin-left: 36px;
  background-color: #adadad;
  color: rgb(0, 0, 0);
  padding: 2px 10px 2px 2px;
  border: 2px solid black;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='grey' d='M1 2.25L4 5.25L7 2.25H1Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 5px);
  background-position-y: center;
  width: 100%;
  max-width: 350px;
  height: 28px;
  font-family: "Bahnschrift SemiBold";
  border-radius: 5px;
}
#Dep-Rel {
  font-weight: bold;

  font-family: "Bahnschrift SemiBold";
  font-size: 20px;
  margin-left: 39px;
  text-align: left;
  border-radius: 5px;
}

section h2 {
  font-family: 30px "Bahnschrift SemiBold" solid;
  color: rgb(0, 0, 0);
  margin-left: 38px;
}
#Version {
  width: 50px;
  height: 25px;
  font-family: 30px "Bahnschrift SemiBold" solid;
  margin-left: 6px;
  text-align: center;
}
