.square {
  width: 300px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  font-family: "Bahnschrift";
  margin-left: 20px;
  border: 1px solid black;
}

.square:not(:last-child) {
  margin-right: 40px;
}
.rect {
  width: 299px;
  height: 26px;
  background-color: rgba(65, 154, 65, 0.918);
  color: white;
  font-family: "Bahnschrift SemiBold";
  padding-left: 10px;
  padding-top: 5px;
}
