header {

    text-align: center;
    height: 60px;
}
a{
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: none;
  color: whitesmoke;
}

ul {
    font-family: "Bahnschrift";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #adadad;
  }
  
  li {
    float: left;
    margin-left: 10px;
  }
  li:hover a {
    border-bottom: 3px solid rgb(42, 169, 42);
    padding-bottom: 5px;
    border-radius: 3px;
  }
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }