.square {
  width: 300px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgb(0, 0, 0);
  font-family: "Bahnschrift";
  margin-left: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 2px rgba(98, 95, 95, 0.817);
  border-radius: 10px;
}

.square:not(:last-child) {
  margin-right: 40px;
}
.rect3{
  width: 299px;
  height: 50px;
  background: rgb(42, 169, 42);
  color: white;
  font-family: 20px "Arial";
  font-size: 20px;
  margin-top: 0px;
  padding-left: 70px;
  padding-top: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 1px 1px rgba(98, 95, 95, 0.817);
}
.square-wrapper {
  max-height: 222px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: -24px;
}
.radio-button {
  width: 300px;
  height: 55;
  background-color: rgb(255, 255, 255);
  font-family: "Bahnschrift";
  margin-left: 20px;
  margin-top: 2px;
  border: 1px solid black;
}
